#cabecera_documento{
    border: solid 1px #92BDD6;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    background-color: white;
}
#cabecera_documento_conty{
    border-bottom: solid 1px #92BDD6;
}

#logo_empresa{
    width:20%;
 }

.logo_emp{
    float:left;
    vertical-align: text-top;
}
#info_empresa{
    width:50%;
    margin-left:0%;
    float:left;
}
#info_tipo_doc{
    width:50%;
    text-align: center;
    margin-left: 50%;
   }
.tipo_doc_title{
    font-family: Verdana, Geneva, sans-serif;
    color:#009AD9;
    font-size: 15pt;
    font-weight: bold;
    text-align:center;
}

#titulo-factura{
    font-size:24px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-top: -1%;
}

#subtitulo-factura{
    text-align:center;
    position:relative;
    top:-30px;
}

#subtitulo2-factura{
    text-align: center;
    position:relative;
    top:-40px;
}

#table_factura_show{
    width:100%;
    border-collapse: collapse;
}

#cuerpo_factura_show{
    width:100%;
 }

 #cuerpo_factura_show td{
    border: solid 1px;
    text-align: center;
 }


 .table_factura_show{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    border-collapse:collapse;
    
}

.table_factura_show th{
    font-family: "Trebuchet MS";
    font-size:11px;
    width: 10%;
}
.table_factura_show td{
     font-family: "Trebuchet MS";
     font-size:10px;
     text-align: left;
     border: solid 1px #92BDD6;
     width:8%;
     padding-left:2%;
     padding-top: 0.5%;
     padding-bottom: 0.5%;
}

 .table_factura_cliente{
    margin-top: -2%;
    border-collapse:collapse;
    width:100%;
}

.table_factura_cliente td{
     
     border: solid 1px #92BDD6;
     width:10%;
     font-family: "Trebuchet MS";
     font-size: 10pt;
     padding-left: 1%;
     padding-top: 0.2%;
     padding-bottom: 0.2%;
    /*     padding-left:2%;
     padding-top: 0.5%;
     padding-bottom: 0.5%;*/
}
.campo_largo{
    width: 60%;
}

.campo_medio{
    width: 60%;
    margin-right: 25%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

 .table_factura_show_totales{
     border-collapse:collapse;
     float:right;
     margin-top: -20%;
     margin-left: 60%;
}

.table_factura_show_totales th{
    font-family: "Trebuchet MS";
    font-size:11px;
    width: 10%;
}
.table_factura_show_totales td{
     font-family: "Trebuchet MS";
     font-size:11px;
     text-align: left;
     border: solid 1px #92BDD6;
     width:8%;
     padding-left:2%;
     padding-top: 0.5%;
     padding-bottom: 0.5%;
}

/************************estilos de factura : no mostrar mensaje de error*****************/
#documento_de_facturacion_cliente_0_cli_identificacion + span{
    font-size: 11px;
}
#documento_de_facturacion_cliente_0_cli_nombre + .LV_invalid{
    font-size: 11px;
    margin-left: -22%;
    margin-right: 110px;
}

#documento_de_facturacion_cliente_0_cli_nombre + .LV_valid{
    font-size: 12px;
    margin-left: -22%;
    margin-right: 150px;
}

#documento_de_facturacion_cliente_0_cli_apellido + .LV_invalid{
    font-size: 11px;
    margin-left: -22%;
    margin-right: 100px;
}
#documento_de_facturacion_cliente_0_cli_apellido + .LV_valid{
    font-size: 11px;
    margin-left: -22%;
    margin-right: 100px;
}
#documento_de_facturacion_cliente_0_cli_direccion + .LV_invalid{
    font-size: 11px;
    margin-left: 7%;
}
#documento_de_facturacion_cliente_0_cli_direccion + .LV_valid{
    margin-left: 7%;
    font-size: 11px;
}
#documento_de_facturacion_cliente_0_cli_telefono + .LV_invalid,#documento_de_facturacion_cliente_0_cli_telefono + .LV_valid{
    display: none;
}
#documento_de_facturacion_cliente_0_cli_celular + .LV_invalid,#documento_de_facturacion_cliente_0_cli_celular + .LV_valid{
    display: none;
}
#documento_de_facturacion_cliente_0_cli_correo + .LV_invalid,#documento_de_facturacion_cliente_0_cli_correo + .LV_valid{
    display: none;
}
#cuerpo_factura tbody tr td input + span{
    display: none;
}
